@import './_variables.scss';

.aboutUs{
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        padding-bottom: 100px;
      
        .aboutUs__characterisation{
           // background-color: $secondaryColor;
           width: 90%;
           margin: 0 auto;
           padding-bottom: 30px;
           @media(min-width: 768px){
              width: 100%;
              padding: 0 30px 30px 30px;     
           }
           @media(min-width: 1280px){
            width: 100%;
            padding: 0 0 30px 0;     
         }
        }

        .aboutUs__list{
            margin-top: 30px;
            list-style: none;
            padding-left: 20px;
            padding-bottom: 70px;
            padding-left: 30px;
            width: 90%;
            margin: 0 auto;
            @media(min-width: 768px){
                width: 100%;
                padding: 0 60px 70px 60px;       
             }
             @media(min-width: 1280px){
                width: 100%;
                padding: 0 30px 70px 30px;     
             }
            //background-color: $secondaryColor;
            .aboutUs__listItem{
                margin-bottom: 10px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 0;
                    left: 0;
                    transform: translate(-30px , 10px);
                    background-image: url("../../public/images/check.svg");
                }
            }
        }
        .aboutUs__subtitle{
            font-size: 20px;
            padding: 20px ;
            text-align: center;
            text-transform: uppercase;
            background-color: $secondaryColor;
            @media(min-width: 768px){
                 font-size: 25px; 
                 padding-bottom: 45px;     
            }
            span{
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;
                text-transform: uppercase;
                color: $primaryColor;
                @media(min-width: 768px){
                    font-size: 25px; 
                    margin-bottom: 45px;     
                }

            }
        }

        .aboutUs__text{
            padding: 20px 40px;
            background-color: $secondaryColor;
        }    
}