@import './_variables.scss';

.footer{
    background: linear-gradient(45deg, darken($primaryColor, 20%),$primaryColor ,darken($primaryColor, 20%));
    width: 100%;
    .footer__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0 ;
        @media(min-width: 768px){
            justify-content: center;
        }
        .footer__list{
            flex-basis: 100%;
            list-style: none;
            margin: 30px auto ;
            @media(min-width: 768px){
                flex-basis: 30%;
    
                align-self: center;
            }
            ;
            .footer__item{
                max-width: 230px;
                margin: 0 auto;
                .footer__link{
                    color: white;text-transform: lowercase;
                    text-decoration: none;
                    cursor: pointer;
                }
                
            }
        }
        .footer__contacts{
            flex-basis: 250px;
            margin: 30px auto ;
            @media(min-width: 768px){
                flex-basis: 30%;
            }
            .footer__contact{
                color: white;
                text-decoration: none;
        
                display: flex;
                
    
                .footer__image{
                    height: 17px;
                    width: 17px;
                    align-self: center;
                }
    
                .footer__text{
                    margin-left: 10px;
                
                }
    
                .phone{
                    background-image: url(../../public/images/phone__white.svg);    
                }
    
                .mail{
                    background-image: url(../../public/images/mail__white.svg);    
                }
                .location{
                    background-image: url(../../public/images/location__white.svg);    
                }
                .facebook{
                    background-image: url(../../public/images/facebook__white.svg);    
                }
            }

        }
      
        .footer__logo{
            height: 70px;
            flex-basis: 100%;
            max-height:50px;
            background-image: url(../../public/images/webcarver_logo__white.svg); 
            background-repeat: no-repeat;
            background-position: center;
            margin: 30px auto;
            @media(min-width: 768px){
                flex-basis: 30%;
                max-height:60px;
                margin: 0 auto;
                align-self: center;
            }
        }

        
    }
    .footer__copyrights{
        text-align: center;
        font-size: 15px;
        line-height: 50px;
        color: white;
        background-color: black;
    }
}



