@import './_variables.scss';


.navigation{
    position: fixed;
    top: 70px;
    bottom: 0;
    left:50%;
    right:50%;

    overflow: hidden;
    transition: 0.3s;

    &--active{
        background-color: rgba(256,256,256,0.8);
        left:0;
        right:0;
    }
    .navigation__wrapper{
        width: 100vw;
        height: calc(100vh - 70px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:0;
        display: flex;
        flex-direction: column;
        .navigation__list{
            flex-basis: 60%;
            list-style: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .navigation__item{
                width: 100%;
               


                .navigation__link{
                    &--active{
                        display: block;
                        background-color:$primaryColor;
                        width: 100%;
                    }
                }
            }
        }
        .navigation__contact{
            flex-basis: 40%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            
            .navigation__phone{
                position: relative;
                font-size: 20px;
                color: $primaryColor;
        
                
                .navigation__phoneIcon{
                    position: absolute;
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    padding-left: 5px;
                    background-image: url(../../public/images/phone.svg);
                    width: 30px;
                    height: 30px;
                }
    
            }
            .navigation__facebookIcon{
                display: block;
                margin: 0 auto;
                background-image: url(../../public/images/facebook.svg);
                width: 40px;
                height: 40px;

            }
        }
    }

}