@import './_variables.scss';


.offer{
    .offer__pages{
        max-width: 1240px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
        .offer__header{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: normal;
            padding-bottom: 20px;
            flex-basis: 100%;
            @media(min-width: 768px){
                font-size: 25px;    
            }
            span{
                font-size: 15px;
                color: $primaryColor;
                @media(min-width: 768px){
                    font-size: 25px; 
         
                }
            }
            
        }
        .offer__page{
            background-color: $secondaryColor;
            padding: 30px;
            margin-bottom: 20px;
            //max-width: 300px;
           
            @media(min-width: 768px){
                //margin: 20px ;  
                flex-basis: 49%;  
                max-width: auto;
             }
            .page__title{
                font-size: 15px;
                font-weight: normal;
                text-transform: uppercase;
                padding-bottom: 15px;
                position: relative;
                flex-basis: 100%;
                margin-left: 10px;
                @media(min-width: 768px){
                    font-size: 18px;
                 }
                &:before{
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 0;
                    left: 0;
                    transform: translate(-15px , 4px);
                    background-image: url("../../public/images/check2.svg");

                    @media(min-width: 768px){
                        transform: translate(-20px , 10px);
                        width: 20px;
                        height: 20px;
                     }
                }

            }
            
           
        }
        
    }
    .shops{
            .shop{
                flex-basis: 100%;
            }
        }

}