@import './_variables.scss';

.realizations{

    .realizations__project{
        display: flex;
        flex-direction: row-reverse;
     
        
        flex-wrap: wrap;
        overflow: hidden;
        background-color: $secondaryColor;
        padding-bottom: 50px;
        @media(min-width: 768px){
            flex-direction: row; 
            justify-content: center;  
            padding-bottom: 0px;
        }
        .project__link{
            flex-basis: 90%;
            height: 200px;
            max-width: 350px;
            margin: 30px auto;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            box-shadow: 6px 6px 8px grey;
            @media(min-width: 768px){
                flex-basis: 40%;
                height: 100vw * 0.22; 
                max-width: 620px; 
                max-height: 320px; 
                margin: 50px 0;  
                
            }
        }

        .kancelariaSW{
            background-image: url(../../public/images/Realizacje/kancelariaSW.jpg);
        }
        .webcarver{
            background-image: url(../../public/images/Realizacje/webcarver.jpg);
        }

        .project__name{
            flex-basis: 100%;
            font-family: $secondaryFont;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            color: $primaryColor;
            @media(min-width: 768px){
                flex-basis: 40%;
                font-size: 30px;
                max-width: 620px;
               
                align-self: center;    
            }
            
        }
    }

    .realizations__project:nth-of-type(even){
        background-color: white;
        @media(min-width: 768px){
            flex-direction: row-reverse; 
            
        }
    }
}