@import './_variables.scss';


.page{
    width: 100%;
    
    .page__slider{
        width: 100%;
        position: relative;
        height: calc(80vh - 70px);
        overflow: hidden;

        @media (min-width: 1024px) {
            height: calc(80vh - 180px);
        }

        .slider__image{
            position: absolute;
            left: 100%;
            height: 100%;
            width: 100%;    
            background-size: cover;
            background-position: top;
            text-transform: uppercase;
            text-align: center;
            transition: 1s;
            z-index: -1;
            @media (min-width: 1024px) {
                left: 0;
                bottom: -100%;
            }
          

            &--active{
                left: 0;
                z-index: 1;
                @media (min-width: 1024px) {
                    bottom: 0;
                }
               
            }

            &--past{
                left:-100%;
                z-index: 0;
                @media (min-width: 1024px) {
                    left: 0;
                    bottom: 100%;
                }
            }

            &:before{
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba($color: black, $alpha: 0.4);
            }
           .slider__title{
                position: absolute;
                top:40%;
                left:50%;
                width: 90%;
                transform: translate(-80%, -50%);
                opacity: 0;
                font-size: 20px;
                font-weight: bold;
                color: lighten($primaryColor,15%);

                
                @media(min-width: 580px){
                    font-size: 25px;
                }
                @media(orientation: landscape) and (max-height: 700px) {
                    font-size: 20px;
                }

                @media(min-width: 1024px){
                    font-size: 35px; 
                }

                &--active{
                    animation: sliderTitle linear 5s;
                }

                @keyframes sliderTitle {
                    0%{
                       opacity: 0;   
                    }
                    10%{opacity: 0;
                    }
                    20%{
                        opacity:1;
                        transform: translate(-50%, -50%);
                    }
                    80%{
                        opacity: 1;
                    }
                    90%{
                        opacity: 0;
                    }
                    100%{
                        opacity:0;
                        transform: translate(-50%, -50%);
                    }
                    
                }


            }

            .slider__text{
                position: absolute;
                top:53%;
                left:50%;
                width: 90%;
                transform: translate(-0%, -50%);
                font-size: 25px;
                opacity: 0;
                color: white;

                @media(min-width: 580px){
                    font-size: 35px;
                    line-height: 42px; 
                }
                @media(orientation: landscape) and (max-height: 700px) {
                    font-size: 25px;
                    line-height: 30px; 
                    width: 80%;
                }

                @media(min-width: 1024px){
                    font-size: 45px;
                    line-height: 60px; 
                    width: 90%;
                }

                &--active{
                    animation: sliderText linear 5s;
                }

                @keyframes sliderText {
                    0%{
                       opacity: 0;   
                    }
                    10%{opacity: 0;
                    }
                    20%{
                        opacity:1;
                        transform: translate(-50%, -50%);
                    }
                    80%{
                        opacity: 1;
                    }
                    90%{
                        opacity: 0;
                    }
                    100%{
                        opacity:0;
                        transform: translate(-50%, -50%);
                    }
                    
                }


            }
        }

        .slider__image:nth-of-type(1){
            background-image: url("../../public/images/www.jpg");
            background-position: bottom;
        

        }

        .slider__image:nth-of-type(2){
            background-image: url("../../public/images/mobile.jpg");
            background-position: center;

        }

        .slider__image:nth-of-type(3){
            background-image: url("../../public/images/seo2.jpg");

        }

        .slider__squares{
            display: flex;
            position: absolute;
            bottom: 5%;
            left: 50%;
            z-index: 2;
            transform: translateX(-50%);

            @media(min-width: 1024px){
              flex-direction: column;
              bottom: 50%;
              left: 95%;
              transform: translateY(50%);
            }
            
            .slider__square{
                width: 12px;
                height: 12px;
                margin: 10px;
                background-color: $primaryColor;
                cursor: pointer;
                transition: 1s;

                &--active{
                    background-color: lighten($primaryColor, 50%);
                    animation: squareHorizontal 1s linear ;
                    @media(min-width: 1024px){
                        animation: squareLandscape 1s linear  ;
                      }
                }
                &--past{
                    animation: squareHorizontal2 1s linear;
                    @media(min-width: 1024px){
                        animation: squareLandscape2 1s  linear ;
                      }
                }

                @keyframes squareHorizontal {
                    0%{
                        transform: translateY(0);
                    }
                    50%{
                        transform: translateY(-150%);
                    }
                    100%{
                        transform: translateY(0);
                    }    
                }
                @keyframes squareHorizontal2 {
                    0%{
                        transform: translateY(0);
                    }
                    50%{
                        transform: translateY(150%);
                    }
                    100%{
                        transform: translateY(0);
                    }    
                }
                @keyframes squareLandscape {
                    0%{
                        transform: translateX(0);
                    }
                    50%{
                        transform: translateX(-150%);
                    }
                    100%{
                        transform: translateX(0);
                    }    
                }
                @keyframes squareLandscape2 {
                    0%{
                        transform: translateX(0);
                    }
                    50%{
                        transform: translateX(150%);
                    }
                    100%{
                        transform: translateX(0);
                    }    
                }

            }
        }
    }

    .page__about{
        width: 80%;
        max-width: 1240px;
        margin: 0 auto;
        padding-bottom:50px ;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .about__title{
            flex-basis: 100%;
            span{
                font-family: $primaryFont;
                text-transform: uppercase;
                text-align: center;
                font-size: 20px;
                padding: 30px 0;
                color:$primaryColor;
                @media(min-width: 480px){
                    font-size: 25px;
                    
                }
                @media(min-width: 580px){
                    font-size: 30px;
            
                }
                @media(min-width: 680px){
                    font-size: 35px;
                    padding: 30px 0;
            
                }
                @media(min-width: 768px){
                    font-size: 40px;
                    padding: 35px 0;
                
                }
                @media(min-width: 1024px){
                    font-size: 40px;
                    padding: 70px 0;
                }

            }
        }
        .about__text{
            flex-basis: 100%;
            padding-bottom: 30px;
            
        }
        .about__list{
            list-style: none;
            padding-left: 20px;
            flex-basis: 100%;
            @media(min-width: 768px){
               flex-basis: 50%;
            
            }
            .about__listItem{
                margin-bottom: 10px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 0;
                    left: 0;
                    transform: translate(-25px , 6px);
                    background-image: url("../../public/images/check2.svg");

                    @media(min-width: 768px){
                      
                        width: 20px;
                        height: 20px;
                     }
                }
            }
        }
    }
    .page__offer{
       
        background-color: $secondaryColor;
        padding-bottom: 60px;
        

         .page__offerWrapper{
            display: flex;
            flex-direction: column;
            max-width: 1280px;
            margin: 0 auto;
            @media(min-width: 1024px){
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
              }
            .page__offerTitle{
                @media(min-width: 1024px){
                    flex-basis: 100%;
                  }
    
            }
            .page__offerItem{
                text-align: center;
                padding: 40px 0;
                background-color: white;
                margin: 10px;
                
                @media(min-width: 1024px){
                    flex-basis: 30%;
                    
                  }
                .offerItem__image{
                    width: 120px;
                    height: 120px;
                    margin: 0 auto;
                    background-image: url(../../public/images/strony.svg);
                    
                    
                }
                .offerItem__text{
                    width: 80%;
                    margin: 0 auto;
                }
            }
            .page__offerItem:nth-of-type(2){
                .offerItem__image{
                    background-image: url(../../public/images/sklepy.svg);
                }
       
            }
            .page__offerItem:nth-of-type(3){
                .offerItem__image{
                    background-image: url(../../public/images/seo.svg);
                }
       
            }

         } 
        

    }

    .page__portfolio{
      
        //background-color:$secondaryColor;
        margin-bottom: 40px;
        @media(min-width: 700px){
           
            padding-bottom: 100px;
        
        }
        .portfolio__projects{
            width: 80%;
            max-width: 1240px;
            margin: 0 auto;
            position: relative;
          
            .portfolio__project{
                height: 90vw * 0.6;
                max-height: 250px;
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                display: none;
                @media(min-width: 700px){
                    flex-direction: row;
                    width: 100%;
                    height: 100vw * 0.16;
                    justify-content: center;
                }

                &--active{
                    left:0;
                    display: flex;
                }
                .project__name{
                    flex-basis: 20%;
                    color: $primaryColor;
                    text-align: center;
                    margin-top: 20px;
                    font-size: 17px;
                    text-transform: uppercase;
                    @media(min-width: 700px){
                        flex-basis: 40%;
                        height: 30%;
                        align-self: center;
                        margin-top: 0;
                        font-size: 25px;
                    }
                    @media(min-width: 1024px){
                      
                        font-size: 35px;
                    }
    

                
    
                }
                .project__link{
                    flex-basis: 80%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 4px 4px 6px grey;
                    cursor: pointer;
                

                    @media(min-width: 700px){
                        flex-basis: 40%;
                    }
                }
            }
            .portfolio__kancelariaSW{
                .project__link{
                    background-image: url(../../public/images/Realizacje/kancelariaSW.jpg);
                }
            }

            .portfolio__webcarver{
                .project__link{
                    background-image: url(../../public/images/Realizacje/webcarver.jpg);
                }
            }

            .portfolio__arrows{
                position: absolute;
                width: 40px;
                height: 40px;
                top: 50%;
                transform: translatey(-50%);
                background-color: $primaryColor;
                opacity: 0.6;
                cursor: pointer;
                @media(min-width: 1024px){
                    width: 60px;
                    height: 60px;
                    
                }
            }
            .portfolio__arrowLeft{
                background-image: url(../../public/images/arrowLeft.svg);
                left: 0;
            }
            .portfolio__arrowRight{
                right:0;
                background-image: url(../../public/images/arrowRight.svg);
            }
           
        }
    }

    
}