@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Oswald&family=Tenor+Sans&display=swap');

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Oswald', sans-serif;

$primaryColor: rgb(20,160,189);
$secondaryColor: rgb(240, 240, 240);