<!DOCTYPE html>
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
      style.
  
    
  body
    h1(style = "color:black") #{subject}
    h3(style = "color:black") Dziękuję za kontakt.
    p(style =  "font-size:13px; color:#888888") Twoja wiadomość:
    p(style =  "font-size:13px; color:#888888") !{content} 
    br
    |
    p(style = "font-size:15px; color:black; font-weight: bold") Ta wiadomość została wygenerowana automatycznie, proszę na nią nie odpowiadać.
    
    hr 
    |   
    
    table
      tbody
         tr
            td(style="width:500px; height:100px; overflow:hidden , background-color: black;")
              img(src ="https://webcarver.pl/public/images/webcarverlogo.jpg", alt="logo",style ="width:500px; height:100px")
            td
              div.stopka(style="font-size: 14px; color:#444444")
                | Wojciech Wąsek Webcarver
                br
                | adres: Jawidz 8A/3, 21-077 Spiczyn
                br
                |tel: 736 859 331
                br
                |email: biuro@webcarver.pl
                br
                |NIP: 918-199-15-70
  

